<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/style-login.css">
  <title>Iniciar sesión</title>
</head>
<body>
  <section class="form-register">
      <form method="post" action="">
    <h4>Iniciar sesión</h4>
    <input class="controls" type="email" name="correo" id="correo" placeholder="Correo electronico" value="{{request.form.correo}}">
    <input class="controls" type="password" name="password" id="password" placeholder="Contraseña" value="{{request.form.password}}">
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    <input class="botons" type="submit" value="Iniciar sesión">
      </form>
    <p>¿No tienes Cuenta?<a href="/registro"> Registrate aqui</a></p>
  </section>

</body>
</html>